$whiteColor: #FEFFFF;
$bodyBG: #21232E;
$headerBG: url('../img/m-h-night.jpg') no-repeat 80% 50% / cover;
$headerColor: #FFFFFF;
$textColor: #B6C3CF;
$textBG: #FF4E33;
$buttonBG: #E3AC00;
$cardAndFooterBG: #3B3F50;
$gradient: linear-gradient(90deg, #DEA306, #953050);
$widthFooterText: 250px;
$logoLetterSpacing: 0.01em;
$fontFresca: 'Fresca', sans-serif;
$SourceSansPro: 'Source Sans Pro', sans-serif;
$z-layers: (
  negative: -1,
  zero: 0,
  default: 1,
  dropdown: 2,
  overlay: 3,
);